<h1>Issue#show</h1>
<br>
<h3>
  <%= link_to(@issue.stock_number, issue_path(@issue.id)) %> :&ensp;
  <%= link_to(@issue.company_name, issue_path(@issue.id)) %>
</h3>

<br><br>
<h3>
  注文　：　
  <%= link_to("買い注文", new_issue_buy_path(@issue)) %> &ensp;
  <%= link_to("売り注文", new_issue_sell_path(@issue)) %> &ensp;
</h3>
<br><br>

<div class="chart_display">
  チャートを表示する
</div>
