/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
  background-color: #eeeae2;
}

img {
  z-index: 0;
}

// .container {
//     max-width: 100%;
// }

#title {
  position: absolute;
  top: 5px;
  left: 80px;
  font-size: 100px;
  font-family: cursive;
  font-style: italic;
  color: #eeeae2;
  z-index: 1;

}

.navbar {

}

 .notice,
 .alert {
   color: red;
   padding: 0;
   border: 0;
   margin-bottom: 0;
 }

#login {
  float: right;
}

.head {
  color: #eeeae2;
  font-size: 20px;
}

.head-left {
  float: left;
}

.head-right {
  float: right;
}

 .t_sell {
   color: blue;
 }

.t_buy {
  color: red;
}

span {
  font-size: 16px;
}
